body{

font-family: Arial;
background:#f5f6fa;
margin:40px;

}

.titulo{

text-align:center;
font-size:38px;
margin-bottom:40px;
color:#222;

}

#cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;

}

.card{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);

}

.card h3{

margin-top:0;
color:#2c3e50;

}

form{

margin-top:40px;
display:flex;
flex-direction:column;
gap:10px;
max-width:400px;

}

input{

padding:10px;
border:1px solid #ccc;
border-radius:5px;

}

button{

background:#2ecc71;
border:none;
padding:12px;
color:white;
border-radius:6px;
cursor:pointer;

}

button:hover{

background:#27ae60;

}